<html>
<head>
<title>出错了</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#f8f8f8" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family:微软雅黑">
<!-- Save for Web Slices (出错了) -->
<div style="position:absolute; left:50%; top:50%; margin-left:-220px; margin-top:-60px;">
<table id="__01" width="441" height="119" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td rowspan="4">
			<img src="../../static/img/404_01.jpg" width="123" height="119" alt=""></td>
		<td colspan="2" height="18"></td>
	</tr>
	<tr>
		<td colspan="2" style="font-size:18px; color:#555c6f">
			<strong>哎呀，出错了！</strong></td>
	</tr>
	<tr>
		<td colspan="2" style="color:#555c6f;">
			网络连接遇到困难，请检查网络</td>
	</tr>
	<tr>
		<td><a href=""></a></td>
		<td></td>
	</tr>
</table>
<style>
a{width:75px; height:45px; display:block; background:url(../../static/img/404_05.jpg)}
a:active{ background:url(../../static/img/404_055.jpg)}
</style>
</div>
<!-- End Save for Web Slices -->
</body>
</html>