{% extends 'snippet/layout.html' %}
{% block title %} 资产管理 {% endblock %}
{% block head-css %}
    <link rel="stylesheet" href="../../static/css/bootstrap-table.css">
{% endblock %}
{% block wrapper-content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>ERP资产查询</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a>资产管理</a>
                </li>
                <li class="active">
                    <strong>ERP固定资产查询</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="height: 65px;">
                        <h5>ERP固定资产数据</h5>
                        <label style="float:right">
                            <input type="button" class="btn btn-info" value="更新ERP减值" id="updateErp"/>
                            <a href="/upload/assets/erp?action=query&filename=ERP资产批量查询">
                                <button class="btn btn-success " type="button">
                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;
                                    <span class="bold">上传批量查询文件</span>
                                </button>
                            </a>
                            {% if querysuccess %}
                            <a href="/exportquery/assets/erp">
                                <button class="btn btn-success" type="button">
                                    <i class="fa fa-download"></i>&nbsp;&nbsp;
                                    <span class="bold">下载批量查询结果</span>
                                </button>
                            </a>
                            {% endif %}
                        </label>
                    </div>
                    <div id="toolbar" class="btn-group">
                        <table>
                            <td>
                                <div style="float:right;">
                                    <div class="columns pull-left">
                                        <select class="selectpicker" id="columnName1">
                                            <option value="">--请选择--</option>
                                            <option value="asset_label">资产标签号</option>
                                            <option value="asset_name">资产名称</option>
                                            <option value="manufactor">厂商</option>
                                            <option value="model">规格型号</option>
                                            <option value="cost">成本</option>
                                            <option value="import_date">创建日期</option>
                                            <option value="use_date">启用日期</option>
                                            <option value="limit_year">使用年限</option>
                                            <option value="remainder_month">剩余月数</option>
                                            <option value="staff_code">员工编号</option>
                                            <option value="staff_name">员工姓名</option>
                                            <option value="address">地点</option>
                                            <option value="project_id">项目编号</option>
                                            <option value="project_name">项目名称</option>
                                            <option value="other_attachment">其他附加信息</option>
                                        </select>
                                        <input type="text" class="" name="columnValue1" id="columnValue1"
                                               style="height: 25px;"/>&nbsp;
                                    </div>
                                    <div class="columns pull-left">
                                        <select class="selectpicker" id="columnName2">
                                            <option value="">--请选择--</option>
                                            <option value="asset_label">资产标签号</option>
                                            <option value="asset_name">资产名称</option>
                                            <option value="manufactor">厂商</option>
                                            <option value="model">规格型号</option>
                                            <option value="cost">成本</option>
                                            <option value="import_date">创建日期</option>
                                            <option value="use_date">启用日期</option>
                                            <option value="limit_year">使用年限</option>
                                            <option value="remainder_month">剩余月数</option>
                                            <option value="staff_code">员工编号</option>
                                            <option value="staff_name">员工姓名</option>
                                            <option value="address">地点</option>
                                            <option value="project_id">项目编号</option>
                                            <option value="project_name">项目名称</option>
                                            <option value="other_attachment">其他附加信息</option>
                                        </select>
                                        <input type="text" class="" name="columnValue2" id="columnValue2"
                                               style="height: 25px;"/>&nbsp;
                                    </div>
                                    <div class="columns pull-left">
                                        <button class="btn btn-primary " id="queryStart">查询</button>&nbsp;
                                        <a href="/exportexcel/assets/erp">
                                            <button class="btn btn-primary " id="exportbutton">导出</button>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </table>
                    </div>
                    <div class="ibox-content">
                        <table id="erptable" class="table table-hover">

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block tail-scripts %}
    <script src="../../static/js/bootstrap-table.js"></script>
    <script src="../../static/js/bootstrap-table-export.js"></script>

    <script>
        $(function () {

            //1.初始化Table
            var oTable = new TableInit();
            oTable.Init();

            //2.初始化Button的点击事件
            var oButtonInit = new ButtonInit();
            oButtonInit.Init();

        });
        var TableInit = function () {
            var oTableInit = new Object();
            oTableInit.Init = function () {
                $('#erptable').bootstrapTable({
                    url: "/assets/listpage/erp/",//请求路径
                    method: 'get',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: false,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true,
                    showColumns: true,                  //是否显示所有的列
                    //showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    //searchOnEnterKey: true,
                    columns: [
                        {% for t,f in titles %}
                            {
                                title: '{{ t }}',
                                field: '{{ f }}',
                                sortable: true
                            },
                        {% endfor %}
                    ]
                })
            };
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    columnname1: $("#columnName1 option:selected").val(),
                    columnvalue1: $("#columnValue1").val(),
                    columnname2: $("#columnName2 option:selected").val(),
                    columnvalue2: $("#columnValue2").val()
                };
                return temp;
            };
            return oTableInit;
        };
        var ButtonInit = function () {
            var oInit = new Object();
            var postdata = {};
            oInit.Init = function () {
                //初始化页面上面的按钮事件
            };
            return oInit;
        };
        $(document).on('click', "#queryStart", function () {
            $('#erptable').bootstrapTable('refresh');
        });
        $(document).keyup(function (e) {//捕获文档对象的按键弹起事件
            if (e.keyCode == 13) {//按键信息对象以参数的形式传递进来了
                //此处编写用户敲回车后的代码
                $('#queryStart').click();
            }
        });
        $(document).on('click',"#updateErp",function(){
            $.ajax({
                url: "/assets/updateErp/",
                type: "GET",
                success:function (data) {
                    $('#queryStart').click();
                }
            });
        });
    </script>
{% endblock %}