{% extends 'snippet/layout.html' %}
{% block title %} 资产管理 {% endblock %}
{% block head-css %}
{% endblock %}
{% block wrapper-content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>ERP资产查询</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a>资产管理</a>
                </li>
                <li class="active">
                    <strong>资产统计</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>ERP资产分类数据</h5>
                    </div>
                    <div class="ibox-content" style="height: 400px">
                        <div class="col-lg-4"><canvas id="erpType" width="400" height="400"></canvas></div>
                        <div class="col-lg-4"><canvas id="erpType0" width="400" height="400"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block tail-scripts %}
    <script src="../../static/js/Chart.js"></script>
    <script>

        var data = {
            datasets: [{
                data: [10, 20, 30],
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }],
            labels: [
                'red',
                'yellow',
                'blue'
            ]
        };
        var ctx = document.getElementById("erpType").getContext("2d");
        var myNewChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            //options: options
        });
        var ctx0 = document.getElementById("erpType0").getContext("2d");
        var myNewChart0 = new Chart(ctx0, {
            type: 'doughnut',
            data: data,
            //options: options
        });

    </script>
{% endblock %}