{% extends 'snippet/layout.html' %}
{% load basefilter %}
{% block title %}排查信息动态更新{% endblock %}
{% block head-css %}
    <link rel="stylesheet" href="../../static/css/bootstrap-table.css">
{% endblock %}
{% block wrapper-content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>排查信息动态更新</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a>网络运维</a>
                </li>
                <li class="active">
                    <strong>排查信息动态更新</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>大群排查信息更新及查询</h5>
                    </div>
                    <div id="pctoolbar" class="btn-group">
                        <table>
                            <td>
                                <div style="float:right;">
                                    <div class="columns pull-left">
                                        <select class="selectpicker" id="pccolumnName1" style="height: 25px;">
                                            <option value="">--请选择--</option>
                                            <option value="serial_number">编号</option>
                                            <option value="number_time">编号时间</option>
                                            <option value="resource">需求来源</option>
                                            <option value="ip_attack">攻击IP</option>
                                            <option value="ip_attacked">被攻击IP</option>
                                            <option value="location">物理位置</option>
                                            <option value="means">攻击手段</option>
                                            <option value="guard">防护措施</option>
                                            <option value="result">排查结果</option>
                                        </select>
                                        <input type="text" style="height: 25px;" name="pccolumnValue1" id="pccolumnValue1"/>&nbsp;
                                    </div>
                                    <div class="columns pull-left">
                                        <select class="selectpicker" id="pccolumnName2" style="height: 25px;">
                                            <option value="">--请选择--</option>
                                            <option value="serial_number">编号</option>
                                            <option value="number_time">编号时间</option>
                                            <option value="resource">需求来源</option>
                                            <option value="ip_attack">攻击IP</option>
                                            <option value="ip_attacked">被攻击IP</option>
                                            <option value="location">物理位置</option>
                                            <option value="means">攻击手段</option>
                                            <option value="guard">防护措施</option>
                                            <option value="result">排查结果</option>
                                        </select>
                                        <input type="text" style="height: 25px;" name="pccolumnValue2" id="pccolumnValue2"/>&nbsp;
                                    </div>
                                    <div class="columns pull-left">
                                        <button class="btn btn-primary " id="pcquerybutton">查询</button>&nbsp;
                                        <a href="/exportexcel/network/paicha">
                                            <button class="btn btn-primary " id="pcexportbutton">导出</button>
                                        </a>
                                    </div>

                                </div>
                            </td>
                        </table>
                    </div>
                    <div class="ibox-content">
                        <table id="paichatable" class="table table-hover">

                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>基础平台排查信息更新及查询</h5>
                    </div>
                    <div id="bztoolbar" class="btn-group">
                        <table>
                            <td>
                                <div style="float:right;">
                                    <div class="columns pull-left">
                                        <select class="selectpicker" id="bzcolumnName1" style="height: 25px;">
                                            <option value="">--请选择--</option>
                                            <option value="reason">告警内容</option>
                                            <option value="ip_source">源IP</option>
                                            <option value="ip_dest">目的IP</option>
                                            <option value="income_time">告警时间</option>
                                            <option value="resource">告警来源</option>
                                            <option value="level">告警级别</option>
                                        </select>
                                        <input type="text" style="height: 25px;" name="bzcolumnValue1"
                                               id="bzcolumnValue1"/>&nbsp;
                                    </div>
                                    <div class="columns pull-left">
                                        <select class="selectpicker" id="bzcolumnName2" style="height: 25px;">
                                            <option value="">--请选择--</option>
                                            <option value="reason">告警内容</option>
                                            <option value="ip_source">源IP</option>
                                            <option value="ip_dest">目的IP</option>
                                            <option value="income_time">告警时间</option>
                                            <option value="resource">告警来源</option>
                                            <option value="level">告警级别</option>
                                        </select>
                                        <input type="text" style="height: 25px;" name="bzcolumnValue2"
                                               id="bzcolumnValue2"/>&nbsp;
                                    </div>
                                    <div class="columns pull-left">
                                        <button class="btn btn-primary " id="bzquerybutton">查询</button>&nbsp;
                                        <a href="/exportexcel/network/baozhang">
                                            <button class="btn btn-primary " id="bzexportbutton">导出</button>
                                        </a>
                                    </div>

                                </div>
                            </td>
                        </table>
                    </div>
                    <div class="ibox-content">
                        <table id="baozhangtable" class="table table-hover">

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block tail-scripts %}
    <script src="../../static/js/bootstrap-table.js"></script>
    <script>
        {% comment %}setInterval(function () {
            $('#pcquerybutton').click();
            $('#bzquerybutton').click();
        }, 1 * 60 * 1000);{% endcomment %}

        $(function () {

            //1.初始化Table
            var oTable = new TableInit();
            oTable.Init();

            //2.初始化Button的点击事件
            var oButtonInit = new ButtonInit();
            oButtonInit.Init();

        });
        var TableInit = function () {
            var oTableInit = new Object();
            oTableInit.Init = function () {
                $('#paichatable').bootstrapTable({
                    url: "/network/listpage/paicha/",//请求路径
                    method: 'get',                      //请求方式（*）
                    toolbar: '#pctoolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: false,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 5,                       //每页的记录行数（*）
                    pageList: [5, 10, 25, 50, 100],        //可供选择的每页的行数（*）
                    //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: [
                        {% for t,f in pctitles %}
                            {
                                title: '{{ t }}',
                                field: '{{ f }}',
                                sortable: true
                            },
                        {% endfor %}
                    ]
                });
                $('#baozhangtable').bootstrapTable({
                    url: "/network/listpage/baozhang/",//请求路径
                    method: 'get',                      //请求方式（*）
                    toolbar: '#bztoolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: false,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 5,                       //每页的记录行数（*）
                    pageList: [5, 10, 25, 50, 100],        //可供选择的每页的行数（*）
                    //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: true,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: [
                        {% for t,f in bztitles %}
                            {
                                title: '{{ t }}',
                                field: '{{ f }}',
                                sortable: true
                            },
                        {% endfor %}
                    ]
                });

            };
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    pccolumnname1: $("#pccolumnName1 option:selected").val(),
                    pccolumnvalue1: $("#pccolumnValue1").val(),
                    pccolumnname2: $("#pccolumnName2 option:selected").val(),
                    pccolumnvalue2: $("#pccolumnValue2").val(),
                    bzcolumnname1: $("#bzcolumnName1 option:selected").val(),
                    bzcolumnvalue1: $("#bzcolumnValue1").val(),
                    bzcolumnname2: $("#bzcolumnName2 option:selected").val(),
                    bzcolumnvalue2: $("#bzcolumnValue2").val()
                };
                return temp;
            };
            return oTableInit;
        };
        var ButtonInit = function () {
            var oInit = new Object();
            var postdata = {};

            oInit.Init = function () {
                //初始化页面上面的按钮事件
            };

            return oInit;
        };
        $(document).on('click', "#pcquerybutton", function () {
            $('#paichatable').bootstrapTable('refresh');
        });
        $(document).on('click', "#bzquerybutton", function () {
            $('#baozhangtable').bootstrapTable('refresh');
        });

        $(document).keyup(function (e) {//捕获文档对象的按键弹起事件
            if (e.keyCode == 13) {//按键信息对象以参数的形式传递进来了
                //此处编写用户敲回车后的代码
                $('#pcquerybutton').click();
            }
        });
    </script>
{% endblock %}